<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <parameter name="BaseURL" value="https://automationexercise.com/"/>
    <test name="AutomationExercises" preserve-order="false">
        <classes>
            <class name="tests.SignupLoginTests"/>
            <class name="tests.ContactTests"/>
            <class name="tests.TestCasesPageTests"/>
            <class name="tests.ProductsTests"/>
            <class name="tests.SubscriptionFooterTests"/>
            <class name="tests.CartTests"/>
            <class name="tests.CheckoutTests"/>
        </classes>
    </test>
</suite>